[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/themes/project"]
	path = content/themes/project
	url = git://github.com/jancbeck/My-Wordpress-Boilerplate-Theme.git
